.sec-3{
    padding-top: 50px;
    padding-bottom: 50px;
  }
.sec-3 h2.mainHeading{
font-size: 4.5rem;
  text-align: center;
}
  .sec-3 p {
    font-size: 1.7rem;
    line-height: 30px;
  }
  
  .sec-3 .about-us-img {
    width: 100%;
    text-align: center;
    height: 450px;
    margin-top: 30px;
    }

  .sec-3 .about-us-img img{
    border-radius: 30px;
height: 100%;
  }
  @media (max-width:991px) {
    .sec-3 .content {
        text-align: center;
      }
    
      .sec-3 .about-us-img {
        padding: 20px;
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
        border-radius: 15px;
      }
  }
  